{% extends 'base.html.twig' %}

{% block title %}Edit users{% endblock %}
{% block body %}
  <script>
    function process() {
      var url = "http://127.0.0.1:8000/messages-keyword?keyword=" + document.getElementById("search").value;
      location.href = url;
      return false;
    }
  </script>
  {% include('navbar/navbar.html.twig') %}

  <div class="panel">
    <div class="panel-body">
      {{ form(form) }}
      </div>
    </div>

  {% endblock %}
  
